* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: #f4f7fe !important;
}

.top-navbar {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}
.top-navbar-left {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid black; */
  gap: 20px;
}
.logo {
  height: 100px;
  width: 100px;
  margin-left: 20px;
  margin-right: 50px;
}
.vertical-divider {
  background-color: #a4bbdb;
  width: 3px;
  height: 80px;
  display: none;
}
.home-icon {
  display: none;
}
.top-navbar-right {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 20px;
}
.profile-avatar {
  /* border: 1px solid red; */
  border-radius: 50%;
  height: 36px;
  width: 36px;
  /* object-fit: cover; */
  cursor: pointer;
  border: 2px solid #e5e7eb;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.user-name {
  color: #6ac5ac;
  display: none;
  font-size: 20px;
  margin-bottom: 0;
}
.down-icon {
  display: none;
}

@media (min-width: 768px) {
  .logo {
    margin-left: 50px;
  }
  .home-icon {
    display: block;
  }
  .top-navbar-right {
    margin-right: 50px;
  }
  .vertical-divider {
    display: block;
  }
  .user-name {
    display: block;
  }
  .down-icon {
    display: block;
  }
}

/* middle content css */
.content-wrapper {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin: 30px;
}
.student-profile-sidebar {
  width: 100%;
  background-color: #ffffff;
  padding: 30px;
  /* border: 1px solid red; */
  border-radius: 10px;
}
.profile-image {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  cursor: pointer;
  border: 2px solid #e5e7eb;
}
.profile-details {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #d9d5d5;
  padding: 0 15px 15px 15px;
}
.left-arrow {
  position: absolute;
  right: 74%;
  top: 25%;
  display: none;
}
.student-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* display: none; */
}
.student-tags {
  display: flex;
  gap: 20px;
}
.age-info {
  /* border: 1px solid red; */
  padding: 6px;
  background-color: #ebfbff;
  color: #4bb396;
  font-weight: 700;
  border-radius: 2px;
}
.grade-info {
  /* border: 1px solid red; */
  font-weight: 700;
  border-radius: 2px;

  padding: 6px;
  background-color: #f5f9ff;
  color: #7e65bb;
}
.sidebar-menu-list {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  transition: background 0.5s ease;
  cursor: pointer;
}
.menu {
  display: flex;
  gap: 20px;
  color: #6c7c91;
}
.menu-text {
  font-size: 20px;
}

.menu-item:hover {
  background-color: #eef2ff;
  color: #5047e5;
}
.menu-item:hover .menu {
  color: #5047e5;
}
.menu-item.active {
  background: #eef2ff;
  color: #5047e5;
}
.menu-item.active .menu {
  color: #5047e5;
  font-weight: 900;
}

.student-profile-dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 0;
}

.profile-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #edeefe;
  padding: 30px;
  border-radius: 10px 10px 0 0;
}
.title {
  color: #2b3674;
  font-size: 25px;
}
.actions {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
}
.notify-history {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  color: #777777;
  font-weight: 900;
}

.contact-details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #64748b;
}
.title {
  color: #64748b;
}
.attendance-summary-container {
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #64748b;
}
.arrow-icon-down {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.arrow-icon-down.rotate {
  transform: rotate(180deg);
}
.accordion-body {
  padding: 0 !important;
  overflow: hidden !important;
  width: 100%;
}
.accordion-item .accordion-button {
  padding: 30px;
  background: #ffffff;
  border-radius: 10px !important;
  border: 1px solid #64748b;
  color: #64748b;
  font-size: 25px;
  font-weight: 600;
}
.accordion-flush {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accordion-button:not(.collapsed) {
  color: #2b3674 !important;
}
.accordion-button:focus {
  border-color: none I !important;
  box-shadow: none !important;
}
.attendance-summary-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  gap: 16px;
  min-width: 0;
}
.attendance-summary {
  flex: 1;
  min-width: 0;
}
.toggle-tabs {
  display: flex;
  /* background: #e5e5e5; */
  padding: 4px;
  border-radius: 8px;
  gap: 10px;
}
.toggle {
  border: none;
  padding: 8px 16px;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  transition: background 0.3s ease, color 0.3s ease;
  background: #e5e5e5;
}
.toggle.active {
  background: #2f5ec4;
  color: #ffffff;
}
.history-details{
  flex-direction: column;
  align-items: center;
}
.attendance-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sub-text {
  color: #48525f;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.bold-text {
  margin-bottom: 0;
  font-weight: 600;
  color: #262352;
  font-weight: 700;
}
.highlight {
  color: #202952;
  font-weight: 700;
}
.color-text {
  color: #2a6b58;
  margin-bottom: 0;
  font-weight: 600;
}
.vertical-divider-2 {
  background: #d1dad7;
  width: 4px;
  /* margin: 0 50px; */
  height: 450px;
  display: none;
}
.learning-summary {
  flex: 1;
  min-width: 0;
  width: 100%;
}
.cards {
  min-width: 250px;
  max-width: 250px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid red;
  border: 1px solid #919191;
  padding: 20px;
}

.cards-wrapper {
  display: flex;
  gap: 12px;
  overflow-x: auto !important; 
  width: 100%;
  padding-bottom: 15px; 
  -webkit-overflow-scrolling: touch;
}
.cards-wrapper::-webkit-scrollbar {
  display: none;
}

.progress-card {
  background: #ffffff;
  border-radius: 16px;
  color: #3d4a5d;
}

/* Header */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff !important;
  border-bottom: none;
  padding: 0 !important;
}

.title-text {
  font-weight: 700;
  font-size: 20px;
}

.date {
  font-size: 13px;
  color: #6b7280;
}

.arrow {
  font-size: 22px;
  color: #1f9d6a;
  font-weight: bold;
}

/* Progress */
.progress-text {
  margin: 12px 0;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.progress-text .count {
  /* margin-right: 8px; */
  margin: 0;
  font-size: 25px;
}

.progress-text .percent {
  color: #475569;
  font-weight: 400;
}

/* Sections */
.section {
  margin-top: 14px;
}

.section h4 {
  margin: 0 0 6px;
  font-size: 16px;
}

.literacy h4 {
  color: #1f9d6a;
}

.numeracy h4 {
  color: #2563eb;
}

.section ul {
  margin: 0;
  padding-left: 18px;
}

.section li {
  font-size: 14px;
  color: #4b5563;
  font-weight: 500;
  margin-bottom: 4px;
}

.section a {
  font-size: 14px;
  color: #2563eb;
  text-decoration: none;
  margin-left: 18px;
}

.index-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 15px;
}
.analytics-card {
  margin-top: 10px;
  padding: 15px;
  width: 100%;
  align-items: center;
}
.toggle-tab1 {
  background: none;
  border: none;
  padding: 8px;
}
.toggle-tab1:hover {
  background: #edeff6;
  border: none;
  padding: 8px;
  border-radius: 8px;
  border-bottom: 3px solid #20016d;
}
.toggle-tab1.active {
  border-bottom: 3px solid #20016d;
  background: #edeff6;
  color: #20016d;
  padding: 8px;
  border-radius: 8px;
}
.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}
.language-toggle {
  border: 1px solid #babdc0;
  padding: 8px;
  border-radius: 5px;
  width: 75px;
  font-weight: 500;
}
.language-toggle:hover {
  color: #347bfa;
  border: 1px solid #347bfa;
}
.language-toggle.active {
  color: #347bfa;
  border: 1px solid #347bfa;
}
.analytics-card .index-ring {
  height: 200px;
  width: 200px;
}
.text-btn {
  background: #eff7ff;
  border: none;
  padding: 8px;
  font-weight: 600;
}
.vertical-divider-3 {
  background: #d1dad7;
  width: 4px;
  /* margin: 0 50px; */
  height: 450px;
  display: none;
}
.session-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.session-info p {
  margin-bottom: 0;
}
.recommend-btn {
  background: #fff9e4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  color: #e89330;
  border: none;
  font-weight: 600;
  font-size: 20px;
}

.blank {
  background-color: #f4f7fe;
  color: #ffffff;
}
.index-overview {
  display: flex;
  flex-direction: column;
}
.learning-index-overview {
  width: 100%;
  margin-bottom: 40px;
}
.marks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b9c5;
  padding: 10px 0 20px 0;
}
.marks p {
  color: green;
  margin-bottom: 0;
  font-size: 20px;
}
.marks-obtained {
  width: 100%;
  /* max-width: 400px; */
  font-family: sans-serif;
}

.label {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 6px;
  display: inline-block;
  font-family: "Nunito", sans-serif;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  /* justify-content: space-between; */
}

.progress {
  flex: 1;
  height: 10px;
  background-color: #e9ecf5;
  border-radius: 75px !important;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  border-radius: 50px;
  background-color: #4318ff;
}
.progress-bar-1 {
  height: 100%;
  border-radius: 50px;
  background-color: #03815e;
}

.score {
  font-size: 14px;
  font-weight: 600;
  color: #4b3cff;
  min-width: 45px;
  text-align: right;
}
.vertical-divider-4 {
  display: none;
}
.numeracy-index-overview {
  width: 100%;
}
.text {
  color: #64748b;
  font-size: 20px;
  font-weight: 600;
}
.behaviour-overview {
  width: 100%;
  margin-bottom: 40px;
}
.communication-overview {
  width: 100%;
}
.vertical-fill-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding-top: 20px;
  border-top: 1px solid #b1b9c5;
}
.vertical-card {
  display: flex;
}

/* Rotated text */
.label-title {
  font-size: 14px;
  font-weight: 500;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.label-title .left {
  color: #69748b;
}

.label-title .right {
  color: red;
}
.both {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
/* Pill container */
.pill-progress {
  width: 25px;
  height: 200px;
  background: #eef1f7;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}
.help-wrapper {
  display: none;
  gap: 8px;
  padding: 16px;
  cursor: pointer;
  /* border: 1px solid red; */
  background: linear-gradient(135deg, #faf2f7, #dee1fe);
}
.help-wrapper p {
  margin-bottom: 0;
  font-size: 20px;
}
/* Filled part */
.pill-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: #ff8a00;
  border-radius: 50px;
}
.performance-indicators {
  display: flex;
  flex-direction: column;
}
.styled-btn {
  padding: 5px;
  background-color: #eff7ff;
  border: none;
  border-radius: 5px;
}
.ring-progress-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
  border-top: 1px solid #b1b9c5;
}
.ring-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.ring-progress p {
  color: #69748b;
  font-weight: 500;
  margin-bottom: 0;
}
.ring-progress img {
  width: 150px;
  height: 100px;
}
.orange-text {
  padding: 10px;
  background-color: #fef4ed;
  color: #f39553;
  border-radius: 8px;
}
.green-text {
  padding: 10px;
  background-color: #f5fdf1;
  color: #199e79;
  border-radius: 8px;
}
.vertical-divider-5 {
  display: none;
  background-color: #a4bbdb;
  width: 6px;
  height: 350px;
  margin: 0 20px;
}

@media (max-width: 600px) {
  .vertical-fill-container {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 8px;
    scrollbar-width: none;
  }

  .vertical-card {
    flex: 0 0 auto; 
  }
  .vertical-fill-container::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 768px) {
  .profile-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .actions {
    /* flex-direction: row; */
    align-items: center;
  }
  .index-wrapper {
    flex-direction: row;
  }
  .vertical-divider-3 {
    display: block;
  }
  .index-overview {
    flex-direction: row;
  }
  .history-details{
  flex-direction: row;
}
  .vertical-divider-4 {
    display: block;
    background-color: #a4bbdb;
    width: 3px;
    height: 350px;
    margin: 0 30px;
  }
  .learning-index-overview {
    width: 50%;
    /* padding:0 20px; */
    /* border: 1px solid red; */
  }
  .numeracy-index-overview {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .content-wrapper {
    flex-direction: row;
  }
  .sidebar-menu-list {
    display: block;
  }
  .analytics-card {
    width: 30%;
  }
  .info-container {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .left-arrow {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1220px) {
  .student-tags {
    display: none;
  }
  .student-info {
    display: none;
  }
  .menu-text {
    display: none;
  }
  .arrow-icon {
    display: none;
  }
  .student-profile-sidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .student-profile-dashboard {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .attendance-summary-wrapper {
    flex-direction: row;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 0;
    width: 100%;
  }
  .vertical-divider-2 {
    display: block;
  }
  .performance-indicators {
    flex-direction: row;
  }
  .ring-progress img {
    width: 150px;
    height: 100px;
  }
  .vertical-divider-5 {
    display: block;
  }

  .help-wrapper {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1221px) {
  .student-profile-sidebar {
    width: 25%;
    height: 100vh;
    overflow-y: auto;
  }
  .student-profile-dashboard {
    width: 75%;
  }
}
@media (min-width: 1400px) {
}
